<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.aakumykov.firebase_storage_service"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.github.aakumykov.firebase_storage_service.firebase_storage_service.FirebaseStorageService"
            android:exported="false"
            android:enabled="true" />
    </application>

</manifest>